<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script src="vue.js" charset="utf-8"></script>

    <h2>声明式渲染1</h2>
    <div id="app">
      {{ message }}
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
        })
    </script>
    <hr>

    <h2>声明式渲染2</h2>
    <div id="app-2">
      <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
      </span>
    </div>
    <script type="text/javascript">
      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: '页面加载于 ' + new Date().toLocaleString()
        }
      })
    </script>
    <hr>

    <h2>条件指令</h2>
    <div id="app-3">
      <p v-if="seen">现在你看到我了</p>
    </div>
    <script type="text/javascript">
      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })
    </script>
    <hr>

    <h2>循环指令</h2>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <script type="text/javascript">
    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: '学习 JavaScript' },
          { text: '学习 Vue' },
          { text: '整个牛项目' }
        ]
      }
      })
    </script>
    <hr>

    <h2>事件绑定</h2>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <script type="text/javascript">
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
      })
    </script>
    <hr>

    <h2>双向绑定</h2>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
    <script type="text/javascript">
    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue!'
      }
    })
    </script>
  </body>
</html>
